@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with display: block */
ul,
ol {
  list-style: none;
}

/* Remove border on images and tables */
img,
video {
  max-width: 100%;
  height: auto;
}

/* Remove default table border spacing */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove input and button default styles */
input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
}

/* Remove focus outline */
:focus {
  outline: none;
}
/* 
.tox,
.tox .tox-editor-container,
.tox .tox-toolbar-overlord,
.tox .tox-toolbar,
.tox .tox-menubar,
.tox .tox-toolbar__primary {
  background-color: #3c3e40 !important;
  border-color: #2c2a31 !important;
}
.tox .tox-editor-header {
  background-color: #17161a !important;
  border-color: #2c2a31 !important;
}
.tox .tox-sidebar__nav {
  background-color: #17161a !important;
  border-color: #2c2a31 !important;
}
.tox .tox-tbtn {
  color: #f1f1f1 !important;
}
.tox .tox .tox-tbtn:hover {
  background-color: #2c2a31 !important;
} */

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
}

.dot {
  animation: bounce 1s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}
.dot:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* 위로 이동 */
  }
}

@layer components {
  .custom-scrollbar {
    /* 스크롤바 전체 스타일 */
    &::-webkit-scrollbar {
      background: transparent; /* 트랙의 배경을 투명하게 설정 */
      width: 12px; /* 스크롤바의 너비 */
      height: 12px; /* 가로 스크롤바의 높이 */
    }

    /* 스크롤바의 트랙 (배경) */
    &::-webkit-scrollbar-track {
      background: transparent; /* 트랙의 배경을 투명하게 설정 */
      border-radius: 10px; /* 트랙의 모서리 둥글게 */
    }

    /* 스크롤바의 핸들 (드래그 가능한 부분) */
    &::-webkit-scrollbar-thumb {
      background: rgba(
        136,
        136,
        136,
        0.8
      ); /* 핸들의 배경색 (투명도 조절 가능) */
      border-radius: 10px; /* 핸들의 모서리 둥글게 */
    }

    /* 핸들에 마우스를 올렸을 때의 스타일 */
    &::-webkit-scrollbar-thumb:hover {
      background: rgba(
        85,
        85,
        85,
        0.8
      ); /* 핸들의 배경색 (hover 시, 투명도 조절 가능) */
    }

    /* IE 및 Edge */
    -ms-overflow-style: scrollbar;

    /* Firefox */
    scrollbar-width: thin; /* 스크롤바의 두께 */
  }
}
