@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with display: block */
ul,
ol {
  list-style: none;
}

/* Remove border on images and tables */
img,
video {
  max-width: 100%;
  height: auto;
}

/* Remove default table border spacing */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove input and button default styles */
input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
}

/* Remove focus outline */
:focus {
  outline: none;
}
/* 
.tox,
.tox .tox-editor-container,
.tox .tox-toolbar-overlord,
.tox .tox-toolbar,
.tox .tox-menubar,
.tox .tox-toolbar__primary {
  background-color: #3c3e40 !important;
  border-color: #2c2a31 !important;
}
.tox .tox-editor-header {
  background-color: #17161a !important;
  border-color: #2c2a31 !important;
}
.tox .tox-sidebar__nav {
  background-color: #17161a !important;
  border-color: #2c2a31 !important;
}
.tox .tox-tbtn {
  color: #f1f1f1 !important;
}
.tox .tox .tox-tbtn:hover {
  background-color: #2c2a31 !important;
} */

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.3);
}

.dot {
  animation: bounce 1s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}
.dot:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* 위로 이동 */
  }
}
